/* animation for personal drop down page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active,
.personalMenu {
  width: 68%;
  height: 50px;
  position: relative;
  background-color: none;
  animation: mymove 5s;
  animation-fill-mode: 2s;
  background-color: aqua; /*to be removed later */
  justify-content: space-around;
}

@keyframes mymove {
  from {
    top: -35px;
  }
  to {
    top: 10px;
    background-color: none;
  }
}
/*-----------------------Accounts Modal----------------------*/
.main-body {
  background-color: #fdfdfd;
  width: 100%;
  height: 21rem;
  opacity: 0.9;
  z-index: 1;
  margin-top: 6px;
}
/*----------------------left nav with opacity----------------*/
.accounts {
  background-color: #f4f4f4;
  width: 285px;
  height: 18rem;
  position: absolute;
  top: 11.7rem;
  z-index: 2;
  display: block;
}
#acct-list {
  position: relative;
  top: 40px;
  padding: 10px 8px;
  margin-left: 75px;
}
#acc-list:hover {
  display: none;
}

#acct-list-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: Nunito light;
}
#acct-list:hover {
  background-color: #abf3f8;
}

.fa-caret-right {
  color: gray;
  float: right;
  font-size: 18px;
}
