* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

/*------ main body before display flex------- */
#accounts {
  display: flex;
  margin-top: -20.9rem;
}

#personalLink {
  background-color: red;
  cursor: pointer;
}

.leftPanel {
  width: 50%;
  background-color: #f6f6f6;
  padding-top: 3.5rem;
  padding-left: 6.5rem;
}

#discover {
  padding-top: 2.5rem;
  font-size: 60px;
}

#choose {
  padding-top: 1rem;
  font-size: 20px;
}

/*----------------------Right Panel Pia Picture model-----------------*/
.rightPanel {
  width: 50%;
  background-color: #f6f6f6;
  padding-top: 9rem;
  padding-left: 20px;
}
