.perMenu {
  margin: auto;
  background-color: rgb(70, 214, 41);
  height: 5rem;
  width: 100%;
}

.personalMenu {
  display: flex;
  justify-content: space-around;
  height: 3.5rem;
  width: 68%;
  margin: auto;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 700;
  background-color: orange;
  padding-top: 14px;
}

ul {
  list-style-type: none;
}
