/* personal main page css */

.perMenu {
  margin: auto;
  background-color: white;
  width: 100%;
}

.personalMenu {
  display: flex;
  justify-content: space-around;
  height: 3.5rem;
  width: 68%;
  margin: auto;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 800;
  /* background-color: #ffffff; */
  padding-top: 14px;
}

ul {
  list-style-type: none;
}

/*-----------------------link show's underline when on hover----------------*/
#personLine:hover {
  color: "orange";
  border-bottom: 4px solid orange;
  position: inherit;
  padding-bottom: 15px;
}

/*------------------------left modal nav------------------------------------*/
