.busMenu {
  margin: auto;
  background-color: white;
}

.businessMenu {
  display: flex;
  justify-content: space-evenly;
  height: 3.5rem;
  width: 75%;
  margin: auto;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 800;
  padding-top: 14px;
}
/*-----------------------------under line hover----------------------*/
#businessLine:hover {
  color: "orange";
  border-bottom: 4px solid orange;
  position: inherit;
  padding-bottom: 15px;
}
