.busMenu {
  margin: auto;
  height: 5rem;
  background-color: aqua;
}

.businessMenu {
  display: flex;
  justify-content: space-around;
  height: 3.5rem;
  width: 68%;
  margin: auto;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  padding-top: 14px;
  background-color: pink;
}
