* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navRowTwo {
  height: 81px;
  background-color: #004ea8;
  display: flex;
}
/*----------------Center logo and div---------------*/
.bdoLogo {
  margin: auto;
  padding-left: 3.5rem;
}

.personal {
  padding: 19px 25px;
  margin-left: -1.9rem;
}
.personal:hover {
  background-color: #0072d8;
}

.business {
  padding: 22px 25px;
}
.business:hover {
  background-color: #0072d8;
}

.searchApplyLogin {
  display: flex;
  margin: auto;
  padding-left: 12rem;
}

.search {
  margin: auto;
  padding: 19px 20px;
  position: relative;
}
.search:hover {
  background-color: #0072d8;
}

.apply {
  margin: auto;
  padding: 19px 20px;
  position: relative;
}

.apply:hover {
  background-color: #0072d8;
}

/*--------------------Personal Link -------------------*/

.login {
  position: relative;
  margin-right: 80px;
  height: 82px;
  display: flex;
  width: 160px;
  padding-left: 24px;
}

.login:hover {
  background-color: #0072d8;
}

.loginDiv {
  margin-top: 25px;
  font-weight: 400;
  font-family: Nunito;
  color: #0072d8;
  font-size: 18px;
}
/*--------------------Login button---------------------*/

.dropBtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  top: -70px;
  left: 40px;
  z-index: 2;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  list-style-type: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -60px;
  top: 111px;
  width: 13.5rem;
  font-family: Nunito;
  font-size: 16px;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e5f5ff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropBtn {
  background-color: #0072d8;
}
/*------------------------personal link---------------------------*/

#myUl {
  padding: 0;
}

#pLink {
  padding-left: 22px;
}

#bLink {
  padding-left: 22px;
}

#myUl1 {
  padding: 0;
}
