* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navRowTwo {
  height: 81px;
  background-color: #004ea8;
  display: flex;
}
/*----------------Center logo and div---------------*/
.bdoLogo {
  margin: auto;
  padding-left: 2.6rem;
}

.personal {
  padding: 19px 28px;
  margin-left: -25px;
}
.personal:hover {
  background-color: #0072d8;
}

.business {
  padding: 22px 28px;
}
.business:hover {
  background-color: #0072d8;
}

.searchApplyLogin {
  display: flex;
  margin: auto;
}

.search {
  margin: auto;
  padding: 19px 20px;
  position: relative;
}
.search:hover {
  background-color: #0072d8;
}

.apply {
  margin: auto;
  padding: 19px 20px;
  position: relative;
}

.apply:hover {
  background-color: #0072d8;
}

/*--------------------Personal Link -------------------*/

.login {
  margin-right: 80px;
  padding-left: 10px;
  height: 79px;
  display: flex;
  width: 160px;
  margin-top: -24px;
}
.login:hover {
  background-color: #0072d8;
}

.login2 {
  margin-top: 50px;
  font-weight: 400;
  font-family: Nunito;
  color: white;
  font-size: 18px;
}

/*------------------all drop down turns black--------------------*/

.dropBtn {
  background-color: #004ea8;
  color: black;
  padding: 10px;
  font-size: 120x;
  border: none;
  cursor: pointer;
  margin-top: -8px;
}

.dropdown-toggle:hover {
  background-color: #0072d8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-family: "nunito";
  font-size: 16px;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: -97px;
  margin-top: 16px;
  position: fixed;
  z-index: 3;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 3;
}

.dropdown-content :link:hover {
  background-color: #e5f5ff;
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*------------change color------------*/
.dropdown:hover .dropbtn {
  background-color: #0072d8;
}

/*------------inserted on hover color on log-in----------*/
#myDropDown:hover {
  background-color: #0072d8;
}

.personalLink {
  display: block;
}

.businessLink {
  display: block;
  margin-left: -35px;
  margin-top: -8px;
}
