* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navRowTwo {
  height: 81px;
  background-color: #004ea8;
  display: flex;
}
/*----------------Center logo and div---------------*/
.bdoLogo {
  margin: auto;
  padding-left: 2.6rem;
}

.personal {
  padding: 19px 28px;
  margin-left: -25px;
}
.personal:hover {
  background-color: #0072d8;
}

.business {
  padding: 22px 28px;
}
.business:hover {
  background-color: #0072d8;
}

.searchApplyLogin {
  display: flex;
  margin: auto;
}

.search {
  margin: auto;
  padding: 19px 20px;
  position: relative;
}
.search:hover {
  background-color: #0072d8;
}

.apply {
  margin: auto;
  padding: 19px 20px;
  position: relative;
}
.apply:hover {
  background-color: #0072d8;
}

.logIn {
  margin: auto;
  padding: 19px 20px;
  position: relative;
}
/*
.logIn:hover {
 background-color: #0072d8;
}
*/
.one {
  color: red;
  position: relative;
  left: 10px;
  top: 8px;
}
/*--------------------Drop down list ffrom login -------------------*/
#myUl {
  background-color: orange;
  left: -4rem;
  top: -9px;
  width: 13.2rem;
}

#myList {
  background-color: white;
  height: 60px;
  position: relative;
  border: 2px solid green;
  list-style-type: none;
}
